/* Patrones Globales */

/* Eliminar margen por defecto del BODY */
body { margin: 0; }

/* Títulos principales y subtítulos: Barlow */
h1, h2, h3, h4 { font-family: 'Barlow', sans-serif; }

/* Subtítulos H6: Permanet Marker */
h6 { font-family: 'Permanent Marker', cursive; }
nav, a { font-family: 'Kufam', cursive; }

/* Párrafos, Enlaces, Etiquetas y Formularios: Roboto */
h5, p, span, form, input, select, textarea, option, button, div { font-family: 'Roboto', sans-serif; }

/* Propiedad display: block; a todas las cajas de estructura para que se comporten como cajas */
header, main, section, footer, aside, article, figure, figcaption, nav, div { display: block; }

/* Quitar margen que traen por defecto los títulos, subtítulos y párrafos */
h1, h2, h3, h4, h5, h6, p, figure { margin: 0; }



/* Estilo Propio */

/* Componente Menú Hamburguesa */
aside#menu-hamburguesa { width: 290px; height: 100%; display: none; margin: 0; float: none; position: fixed; top: 0; left: -290px; z-index: 99999; background:#255aab; }

aside#menu-hamburguesa a#abrir { width: 35px; height: auto; display: block; margin: 0; float: none; position: absolute; top: 15px; right: -35px; background:#fff ; color: #255aab; text-align: center; padding: 6px 0; font-size: 1.25em; border-radius: 0 5px 5px 0; transition: all 0.3s ease-in; }
aside#menu-hamburguesa a#abrir:hover { background: #d00f0f; transition: all 0.3s ease-in; }

aside#menu-hamburguesa a#cerrar { width: 35px; height: auto; display: none; margin: 0; float: none; position: absolute; top: 15px; right: -35px; background: #fff; color: #255aab; text-align: center; padding: 6px 0; font-size: 1.25em; border-radius: 0 5px 5px 0; transition: all 0.3s ease-in; }
aside#menu-hamburguesa a#cerrar:hover { background: #d00f0f; transition: all 0.3s ease-in; }

aside#menu-hamburguesa nav { height: auto; width: 80%; margin: 10% auto; float: none; position: relative; }
aside#menu-hamburguesa nav a { width: 100%; height: auto; display: block; margin: 0 auto 15px; float: none; position: relative; text-align: center; font-size: 1.25em; line-height: 1em; padding: 10px 0; color: #fff; letter-spacing: 0.07em; font-family:'Kufam', cursive; text-decoration: none; transition: all 0.3s ease-in; }
aside#menu-hamburguesa nav a:hover { color: #d00f0f; transition: all 0.3s ease-in; }



/* Componente Botón WhatsApp */
aside#boton-whatsapp { width: 45px; height: 45px; margin: 0; float: none; position: fixed; bottom: 20px; right: 20px; z-index: 9999; }
aside#boton-whatsapp a { width: 100%; height: auto; margin: 0; float: none; position: relative; display: block; text-align: center; color: #fff; background: rgb(43 199 4); font-size: 1.5em; padding: 8px 0; border-radius: 50%; transition: all 0.3s ease-in; }
aside#boton-whatsapp a:hover { background:#0112a5; transition: all 0.3s ease-in; }



/* Componente Header Logo y Menú */
header { width: 100%; height: 83px; margin: 0; float: none; position: fixed; top: 0; left: 0; z-index: 99990; background-color: #255aab; no-repeat bottom center transparent; background-size: cover; }
header article { width: 1100px; height: 90px; margin: 0 auto; float: none; position: relative; }

header article figure { width: 214px; height: 110px; margin: 0; float: left; position: relative; }
header article figure a { width: 78%; height: auto; margin: 0 auto; float: none; position: relative; display: block; transition: all 0.3s ease-in; }
header article figure a img { width: 100%; height: auto; margin: 0 auto; float: none; position: relative; display: block; top: 17px; }
header article figure a:hover { transform: scale(1.05); transition: all 0.3s ease-in; }

header article nav { width: 713px; height: 40px; margin: 23px 0; float: right; position: relative; }
header article nav a { width: auto; height: auto; margin: 0 15px; float: left; position: relative; display: block; padding: 12px 0; text-decoration: none; color: #fff; font-weight: 800; font-size: 1em; line-height: 1em; text-transform: uppercase; letter-spacing: 0.09em; transition: all 0.3s ease-in; }
header article nav a:hover { color: rgb(177, 0, 0); text-shadow: 0 0 8px rgb(0 0 0 / 30%); transition: all 0.3s ease-in; }



/* Caja Main */
main { width: 100%; height: auto; margin: 150px auto 0 auto; float: none; position: relative; }


/* Componente Sección tipo Menú a 2 Columnas: Burger, beverages y Pizzas */
main section.menu { width: 100%; height: auto; margin: 0 auto 70px; float: none; position: relative; }

main section.menu#burger { margin: 0 auto 40px; }

main section.menu article { width: 1100px; height: auto; margin: 0 auto; float: none; position: relative; }

main section.menu article div.zona-titulos { width: 100%; height: auto; margin: 0 auto; float: none; position: relative; }
main section.menu article div.zona-titulos h6 { text-align: center; font-size: 1.3em; line-height: 1em; padding: 50px 0 15px 0; color: #d00f0f; letter-spacing: 0.07em; }
main section.menu article div.zona-titulos h3 { text-align: center; font-size: 3.15em; line-height: 1em; padding: 0 0 50px 0; color: #000; letter-spacing: -0.01em; font-weight: 900; }

main section.menu article div.zona-titulos figure { width: 380px; height: 138px; margin: 0 auto; float: none; position: relative; top: -12px; }

main section.menu article div.zona-titulos figure a { width: 88%; height: auto; margin: 0 auto; float: none; position: relative; display: block; transition: all 0.3s ease-in; }

main section.menu article div.zona-titulos figure a img { width: 100%; height: auto; margin: 0 auto; float: none; position: relative; display: block; border-radius: 8%; }

main section.menu article div.zona-titulos figure a :hover { transform: scale(1.05); transition: all 0.3s ease-in; }

main section.menu article div.zona-menu { width: 100%; height: auto; margin: 0 auto; float: none; position: relative; }
main section.menu article div.zona-menu figure { width: 510px; height: 100px; margin: 19px; float: none; position: relative; display: inline-block; }
main section.menu article div.zona-menu figure img { width: 70px; height: 70px; display: block; margin: 0; float: left; position: relative; border-radius: 8px; }
main section.menu article div.zona-menu figure div.info-producto { width: 420px; height: 100px; display: block; margin: 0; float: right; position: relative; }

main section.menu article div.zona-menu figure div.info-producto h1 {  height: auto; display: block; margin: 0 0 10px; float: none; background: #0112a5; color: #fff; border-radius: 10px; text-align: center; font-weight: 800; text-transform: uppercase; font-size: 0.65em; letter-spacing: 0.07em; padding: 2px 0; }

main section.menu article div.zona-menu figure div.info-producto h1.uni { width: 102px; }

main section.menu article div.zona-menu figure div.info-producto h2 {  height: auto; display: block; margin: 0 0 10px; float: none; background: #e9d200; color: #fff; border-radius: 10px; text-align: center; font-weight: 800; text-transform: uppercase; font-size: 0.65em; letter-spacing: 0.07em; padding: 2px 0; }

main section.menu article div.zona-menu figure div.info-producto h2.cari { width: 102px; }

main section.menu article div.zona-menu figure div.info-producto h5 { height: auto; display: block; margin: 0 0 10px; float: none; background: #d00f0f; color: #fff; border-radius: 10px; text-align: center; font-weight: 800; text-transform: uppercase; font-size: 0.65em; letter-spacing: 0.07em; padding: 2px 0; }
main section.menu article div.zona-menu figure div.info-producto h5.reco { width: 102px; }
main section.menu article div.zona-menu figure div.info-producto h5.new { width: 42px; }

main section.menu article div.zona-menu figure div.info-producto h4 { text-align: left; font-size: 1.3em; line-height: 1em; padding: 0 0 10px 0; color: #222; letter-spacing: 0.03em; font-weight: 800; }
main section.menu article div.zona-menu figure div.info-producto p.texto-producto { text-align: left; font-size: 0.9em; line-height: 1.5em; padding: 0; color: #7b7b7b; letter-spacing: 0.03em; font-weight: 400; }
main section.menu article div.zona-menu figure div.info-producto div.puntos { width: 86px; height: 22px; display: block; margin: 0; float: none; position: absolute; top: 0; right: 70px; text-align: left; font-size: 0.9em; line-height: 1em; padding: 0; color: #7b7b7b; letter-spacing: 0.03em; font-weight: 400; }
main section.menu article div.zona-menu figure div.info-producto p.precio-producto { width: 135px; height: auto; display: block; margin: 0; float: none; position: absolute; top: 2px; right: 0; text-align: right; font-size: 1.2em; line-height: 1em; padding: 0; color: #000000; letter-spacing: -0.05em; font-weight: 400; }

main section.menu div#ancla-burger,
main section.menu div#ancla-beverages,
main section.menu div#ancla-pizzas { width: 100%; height: 1px; display: block; margin: 0; float: none; position: absolute; top: -120px; left: 0; background: transparent; }



/* Componente Destacados 3 Columnas */
section#combos { width: 100%; height: auto; margin: 0 auto 90px; float: none; position: relative; }

section#combos div#ancla-combos { width: 100%; height: 1px; display: block; margin: 0; float: none; position: absolute; top: -170px; left: 0; background: transparent; }

section#combos article { width: 1100px; height: 238px; margin: 0 auto; float: none; position: relative; }
section#combos article nav { width: 100%; height: 238px; margin: 0 auto; float: none; position: relative; }

section#combos article nav a { width: 350px; height: 238px; margin: 0 25px 0 0; float: left; position: relative; display: block; transition: all 0.3s ease-in; }

section#combos article nav a:last-child { margin: 0; }

section#combos article nav a img { width: 100%; height: 235px; margin: 0 auto; float: none; position: relative; display: block; filter: saturate(1.3); transition: all 0.3s ease-in; border-radius: 8%; top: 39px; }

section#combos article nav a:hover { transform: translateY(-10px); transition: all 0.3s ease-in; }
section#combos article nav a:hover img { filter: saturate(1.7); transition: all 0.3s ease-in; }



/* Componente Footer Logo al Centro */
footer { width: 100%; height: 193px; margin: 0 auto; float: none; position: relative; background:  no-repeat bottom center #255aab; background-size: cover; }
footer figure { width: 182px; height: 97px; margin: 0 auto; float: none; position: relative; top: 71px; }
footer figure a { width: 95%; height: auto; margin: 0 auto; float: none; position: relative; display: block; transition: all 0.3s ease-in; }
footer figure a img { width: 110%; height: auto; margin: 0 auto; float: none; position: relative; display: block; }
footer figure a:hover { transform: scale(1.09); transition: all 0.3s ease-in; }




/* Zona de Media Queries */

/* Tablets */
@media only screen and (max-width: 1199px){
    header { height: 80px; }
    header article { width: 80%; height: 80px; }
    header article figure { width: 190px; height: 93px; margin: 0 auto; float: none; }
    header article nav { display: none; }


    aside#menu-hamburguesa { display: block; }


    main section.menu article { width: 80%; }
    main section.menu article div.zona-menu figure { width: 100%; height: auto; margin: 0 auto 60px; float: none; display: block; }
    main section.menu article div.zona-menu figure img { margin: 0 auto 15px; float: none; }
    main section.menu article div.zona-menu figure div.info-producto { width: 100%; height: auto; margin: 0 auto; float: none; }

    main section.menu article div.zona-menu figure div.info-producto h1 { margin: 0 auto 10px; float: none; }

    main section.menu article div.zona-menu figure div.info-producto h2 { margin: 0 auto 10px; float: none; }


    main section.menu article div.zona-menu figure div.info-producto h5 { margin: 0 auto 10px; float: none; }

    main section.menu article div.zona-menu figure div.info-producto h4 { text-align: center; font-size: 1.55em; color: #000; }
    main section.menu article div.zona-menu figure div.info-producto p.texto-producto { text-align: center; font-size: 1em; color: #000; }

    main section.menu article div.zona-menu figure div.info-producto div.puntos { width: 100%; height: 30px; margin: 0 auto; float: none; position: relative; top: 3px; right: 0; text-align: center; }

    main section.menu article div.zona-menu figure div.info-producto p.precio-producto { width: 100%; margin: 0 auto; float: none; position: relative; top: 0; right: 0; text-align: center; font-size: 1.3em; }


    section#combos article { width: 80%; height: auto; }
    section#combos article nav { width: 100%; height: auto; }
    section#combos article nav a { width: 290px; height: 250px; margin: 0 auto 25px; float: none; }
    section#combos article nav a:last-child { margin: 0 auto 25px; }
}

/* Móviles Grandes */
@media only screen and (max-width: 499px){
    
}

/* Móviles Pequeños */
@media only screen and (max-width: 399px){
   
}